<div class="@_revealContainer" role="application">
    <div class="@_slidesContainer">
        @foreach (var slide in _slideItems)
        {
            <InternalSlide @key="@slide.Index" Index="@slide.Index" CurrentSlide="@_currentSlide" NumberOfSlides="@_slideItems.Count" Caption="@slide.Caption">
                @((MarkupString)slide.Content)
            </InternalSlide>
        }
    </div>
    <Controls 
        CurrentSlide="@_currentSlide" NumberOfSlides="@_slideItems.Count" 
        HasHorizontal="@_hasHorizontal" HasVertical="@_hasVertical"
        HasDarkBackground="@_hasDarkBackground" HasLightBackground="@_hasLightBackground"
        OnNext="@OnNext" OnPrevious="@OnPrevious"
        OnUp="@OnUp" OnDown="@OnDown"
    />
</div>

@* Reset CSS *@
<Styled>
    @_mixins.Normalize()
</Styled>

@* Global Styles *@

<Styled>
    html {
        width: 100%;
        height: 100%;
        height: 100vh;
        height: calc( var(--vh, 1vh) * 100);
        overflow: hidden;
    }

    body {
        height: 100%;
        overflow: hidden;
        position: relative;
        line-height: 1;
        margin: 0;
        background-color: #fff;
        color: #000;
    }
</Styled>

@* Main reveal container *@

<Styled @bind-Classname="@_reveal">
    label: reveal;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
</Styled>

<Styled Classname="@_reveal" PseudoClass="PseudoClasses.After">
    content: '';
    font-style: italic;
</Styled>

<Styled @bind-Classname="@_center">
    min-height: 0 !important;
</Styled>

@* Slides container *@

<Styled @bind-Classname="@_revealContainer" Compose1="@_reveal" Compose2="@_center" />

<Styled @bind-Classname="@_slides">
    label: slides;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
    overflow: visible;
    z-index: 1;
    text-align: center;
    -webkit-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 40%;
    perspective-origin: 50% 40%;
</Styled>

<Styled @bind-Classname="@_size">
    width: 960px;
    height: 700px;
    zoom: 1;
</Styled>

<Styled @bind-Classname="@_slidesContainer" Compose1="@_slides" Compose2="@_center" Compose3="@_size" />