<button class="@_finalButton" disabled=@(!IsEnabled) @onclick="@OnClick">
    <ControlArrow ArrowDirection="@ArrowDirection" IsEnabled="@IsEnabled" />
</button>

<Styled @bind-Classname="@_button">
    label: button;
    position: absolute;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: currentColor;
    -webkit-transform: scale(0.9999);
    transform: scale(0.9999);
    transition: color 0.2s ease, opacity 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
    z-index: 2;
    pointer-events: auto;
    font-size: inherit;
    visibility: hidden;
    opacity: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
</Styled>

<Styled @bind-Classname="@_navigateLeft">
    label: navigate-left;
    right: 6.4em;
    bottom: 3.2em;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
</Styled>

<Styled @bind-Classname="@_navigateRight">
    label: navigate-right;
    right: 0;
    bottom: 3.2em;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
</Styled>


<Styled @bind-Classname="@_navigateUp">
    label: navigate-up;
    right: 3.2em;
    bottom: 6.4em;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
</Styled>

<Styled @bind-Classname="@_navigateDown">
    label: navigate-down;
    right: 3.2em;
    bottom: -1.4em;
    padding-bottom: 1.4em;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
</Styled>

<Styled @bind-Classname="@_enabled">
    label: enabled;
    visibility: visible;
    opacity: 0.9;
    cursor: pointer;
    -webkit-transform: none;
    transform: none;
</Styled>

<Styled @bind-Classname="@_locationOverrideLeft">
    bottom: 1.4em;
    right: 5.5em;
</Styled>

<Styled @bind-Classname="@_locationOverrideRight">
    bottom: 1.4em;
    right: 0.5em;
</Styled>

<Styled @bind-Classname="@_locationOverrideUp">
    right: 1.4em;
    bottom: 5em;
</Styled>

<Styled @bind-Classname="@_locationOverrideDown">
    right: 1.4em;
    bottom: 0.5em;
</Styled>

<Styled @bind-Classname="@_finalButton"
    Compose1="@_button"
    ComposeEnabled="@_enabled" ComposeEnabledIf="@IsEnabled"
    ComposeLeft="@_navigateLeft" ComposeLeftIf="@(ArrowDirection == ArrowDirection.Left)"
    ComposeRight="@_navigateRight" ComposeRightIf="@(ArrowDirection == ArrowDirection.Right)"
    ComposeUp="@_navigateUp" ComposeUpIf="@(ArrowDirection == ArrowDirection.Up)"
    ComposeDown="@_navigateDown" ComposeDownIf="@(ArrowDirection == ArrowDirection.Down)"
    ComposeLeftOverride="@_locationOverrideLeft" ComposeLeftOverrideIf="@(ArrowDirection == ArrowDirection.Left && !HasVertical)"
    ComposeRightOverride="@_locationOverrideRight" ComposeRightOverrideIf="@(ArrowDirection == ArrowDirection.Right && !HasVertical)"
    ComposeUpOverride="@_locationOverrideUp" ComposeUpOverrideIf="@(ArrowDirection == ArrowDirection.Up && !HasHorizontal)"
    ComposeDownOverride="@_locationOverrideDown" ComposeDownOverrideIf="@(ArrowDirection == ArrowDirection.Down && !HasHorizontal)"
/>

@code {
    private string _finalButton;
    private string _button;
    private string _enabled;
    private string _navigateLeft;
    private string _navigateRight;
    private string _navigateUp;
    private string _navigateDown;
    private string _locationOverrideLeft;
    private string _locationOverrideRight;
    private string _locationOverrideUp;
    private string _locationOverrideDown;

    [Parameter] public ArrowDirection ArrowDirection { get; set; }
    [Parameter] public bool IsEnabled { get; set; }
    [Parameter] public bool HasHorizontal { get; set; }
    [Parameter] public bool HasVertical { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}