<div class="@_slideNumber">
    <a class="@_slideNumberLink" href="@GetLink()">
        <span>@CurrentHorizontalNumber</span>
        @if (SlidesAPI.State.VerticalSlideCount != 0)
        {
            <span class="slide-number-delimiter">.</span>
            <span>@CurrentVerticalNumber</span>
        }
    </a>
</div>

<Styled @bind-Classname="@_slideNumber">
    label: slide-number;
    position: absolute;
    display: block;
    right: 8px;
    bottom: 8px;
    z-index: 31;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
</Styled>

<Styled @bind-Classname="@_slideNumberLink">
    color: currentColor;
</Styled>